#canvas {width: 400px;
border: 1px solid #999999;
border-collapse: collapse}

td {width: 4px;
height: 4px}

th.key {font-family: arial, helvetica, sans-serif;
font-size: 12px;
border-bottom: 1px solid #999999}